<div class = "outbound">
	{{#each partials.outboundContext.trucks}}
		<div class = "truck">
			<h3>Truck: {{trucknum}}</h3>
			<ul>
				<li>ItemID: {{itemid}} </li>
				<li>Qty: {{qty}} </li>
				<li>Address: {{address}} </li>
			</ul>
		</div>
	{{/each}}
</div>
