  <!-- services -->
    <div class="bloc l-bloc bgc-white" id="services">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center">
                     <a href= 'outbound'>   <span class="et-icon-upload icon-xl icon-carmine-pink animated zoomIn animDelay02"></span></a>
                    </div>
                    <h3 class="text-center mg-md ">
                    Outbound
                    </h3>

                    <p class="text-center">
                    Create an outbound order. Print Bill of Lading.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <a href='inbound'> <span class="et-icon-download icon-xl icon-carmine-pink animated zoomIn"></span></a>
                    </div>
                    <h3 class="text-center mg-md ">
                       Inbound
                    </h3>

                    <p class="text-center">
                        Finish a route. Report unused quantity.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <a href='cut'> <span class="et-icon-beaker icon-xl icon-carmine-pink animated zoomIn animDelay02"></span></a>
                    </div>
                    <h3 class="text-center mg-md ">
                       Item Cutting
                    </h3>

                    <p class="text-center">
                        Material maintenance. Cut with water, rinse or mixing.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- services END -->

